{% extends 'base.html' %}
{% block content %}
<div class="row">
    {% include "dashboard/sidebar.html" %}  {# Including sidebar content #}
    <div class="col-md-9">
        <h3>All Posts</h3>
        <a href="{% url 'add_post' %}" class="btn btn-dark text-light float-right mb-2">Add New</a>  {# Link to add new post #}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">SI.NO</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Author</th>
                    <th scope="col">Status</th>
                    <th scope="col">Featured</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ forloop.counter }}</td>  {# Counter for serial number #}
                    <td>{{ post.title }}</td>  {# Displaying post title #}
                    <td>{{ post.category }}</td>  {# Displaying post category #}
                    <td>{{ post.author }}</td>  {# Displaying post author #}
                    <td>{{ post.status }}</td>  {# Displaying post status #}
                    <td>{{ post.is_featured }}</td>  {# Displaying if post is featured #}
                    <td>
                        <a href="{% url 'edit_post' post.id %}"><i class="fa fa-edit text-success"></i></a>  {# Link to edit post #}
                        &nbsp;
                        <a href="{% url 'delete_post' post.id %}"><i class="fa fa-trash text-success"></i></a>  {# Link to delete post #}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
